*{
    box-sizing: border-box;
}
body{
    color: hsl(192, 100%, 9%);
	font-family: 'Open Sans', sans-serif;
	font-size: 1.15em;
	margin: 0;    
}
header{
        background-image: url(./bg-hero-mobile.svg);
        background-size: cover;
        background-position: center center;
        background-color: hsl(193, 100%, 96%);
        padding: 40px 0
    }
    nav {
        align-items: center;
        justify-content: space-between;
        
        margin-bottom: 40px;
    }
.container{        
        padding: 0 20px;
        margin: auto;
        max-width: 100%;
    }
.btn{
        border-radius: 50px;
        background-color: #fff;
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        cursor: pointer;
        font-size: 16px;
        font-weight: 700;
        padding: 15px 15px;
    }
.getStarted{
        background-color: hsl(322, 100%, 66%);
        color: #fff;
    }
main{
        display: flex;
        place-items: center;
        flex-direction: column;
        padding: 2em;
        }
h2,h3{
            font-family: 'Poppins',sans-serif;
            font-weight: 600;
            margin: 20px;
            padding: 20px;
            }
            
  
.mockupsimg{
        margin-top: 40px;
        margin-left: 0;
        width: 100%;
    }
.box{
        background-color: #fff;
        margin: 40px 0;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        
        padding: 60px;
    }
.box img{
        width: 100%;
    }
    
    
.box .buildcommunity{
        text-align: center;
        display: inline-block;
        z-index: 1;
        margin-bottom: -50%;
    }
    
.flex{
        display: flex;
        flex-direction: column;
        
        align-items: center;
    }
    .flex > div , .flex > ul {
        flex: 1;
    }
.box .flowingconvo{
        flex-direction: column-reverse;
    }
footer{
        background-color: hsl(192, 100%, 9%);
        color: #fff;
        padding: 180px 0 60px;
    }
    
footer ul{
    list-style-type: none;
        padding: 0;
        width: 100%;
    }
    
 footer p{
        text-align: start;
    }
    footer .socials {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer .circle {
        border: 1px solid #fff;
        border-radius: 50%;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        height: 40px;
        width: 40px;
        text-decoration: none;
    }